<h1>Home Component</h1>
<!-- <div  class = "col-md-4 bg-light offset-3 mt-5 mb-5" >
    <div class="card" style="width:25rem;">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/04/07/13/58/pond-4109750__340.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> -->
<!-- Default form login -->
<div class="container col-md-12 offset-5" id='combtn'> 
  <a routerLink = "/companydetail" class = "btn btn-info mr-auto" >Company Detail</a>
</div>
<br>
<div class="container col-md-12 offset-5 " id='canbtn'> 
  <a routerLink = "/candidatedetail" class = "btn btn-info mr-auto" >Candidate Detail</a>
</div>
<br>
<div class="container col-md-12 offset-5 " id='userbtn'> 
  <a routerLink = "/userdetail" class = "btn btn-info mr-auto" >User Detail</a>
</div>
<br>
<div class="container col-md-12 offset-5 " id='probtn'> 
  <a routerLink = "/productdetail" class = "btn btn-info mr-auto" >Product Detail</a>
</div>