<p>userdetail works!</p>
<div class = "container col-md-4 offset-4 card card-body ">
    <form  action="" class="text-center border border-light p-5" #form="ngForm" (ngSubmit) = "userData(form)">
      <h1 class="text-center bg-dark text-white">User Detail</h1>
      
      <div class="form-group ">
          <input type="text"  name='uname' id='cname' class = 'form-control' placeholder="User Name" #uname = 'ngModel' ngModel required>
          <div *ngIf = 'uname.touched && uname.invalid'>  
            <p *ngIf = 'uname.errors.required' class = "alert alert-danger">* this field is required</p>
              <!-- <p *ngIf = 'email.errors.minlength' class = 'text-danger'>* email is too short</p> -->
          </div>
      </div>
      
      <div class="form-group ">
        <input type="text"  name='age' id='age' class = "form-control" placeholder="Enter Age" #age = 'ngModel' ngModel required>
        <div *ngIf = 'age.touched && age.invalid'>
            <p *ngIf = 'age.errors.required' class = "alert alert-danger">* this field is required</p>
            <!-- <p *ngIf = 'password.errors.minlength' class = 'text-danger'>* email is too short</p> -->
        </div>
      </div>
  
      <div class="form-group ">
        <input type="text"  name='skills' id='skills' class = "form-control"  #skills = 'ngModel' ngModel required>
        <div *ngIf = 'skills.touched && skills.invalid'>
            <p *ngIf = 'skills.errors.required' class = "alert alert-danger">* this field is required</p>
              <!-- <p *ngIf = 'password.errors.minlength' class = 'text-danger'>* email is too short</p> -->
        </div>
      </div>
      
    
    
    <div class="form-group ">
      <input type="text"  name='mobno' id='mobno' class = "form-control" placeholder="Mobile No" #mobno = 'ngModel' ngModel required>
      <div *ngIf = 'mobno.touched && mobno.invalid'>
          <p *ngIf = 'mobno.errors.required' class = "alert alert-danger">* this field is required</p>
          <!-- <p *ngIf = 'password.errors.minlength' class = 'text-danger'>* email is too short</p> -->
      </div>
    </div>
    
    <div class="form-group ">
      <input type="email"  name='email' id='ectc' class = "form-control" placeholder="email" #email = 'ngModel' ngModel required>
      <div *ngIf = 'email.touched && email.invalid'>
          <p *ngIf = 'email.errors.required' class = "alert alert-danger">* this field is required</p>
          <!-- <p *ngIf = 'password.errors.minlength' class = 'text-danger'>* email is too short</p> -->
      </div>
    </div>
    <div class="form-group ">
        <input type="password"  name='password' id='password' class = "form-control" placeholder="Enter password" #password = 'ngModel' ngModel required >
        <div *ngIf = 'password.touched && password.invalid'>
            <p *ngIf = 'password.errors.required' class = "alert alert-danger">* this field is required</p>
        </div>
    </div>
  
      <div class = "form-group">
          <button type = 'submit' class = 'btn btn-outline-success float-right' [disabled] = 'form.invalid'>submit</button>
      </div>
      
  </form>
  </div>